<% include ./partials/header %>

<h1>Show route</h1>
<h3>This will show the blownup view with a button to edit the card with basic info, as well as delete all together.</h3>


<% include ./partials/footer %>
